<html>
<head><title>{{page_title}}</title></head>
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<body>
<br>
<div class="container table-responsive">
<div class="col-md-12">
  <form class="form-horizontal" role="form"  method="POST" action="/finddb/search">
    <div class="input-group add-on">
      <input name='consulta' id='txt_consulta' placeholder='Informa o nome da coluna que deseja encontrar' type='text' class='form-control'><br>
      <div class="input-group-btn">
         <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </div>
  </form>
</div>
<table class="table table-bordered">
  <tbody>
      <tr>
      <th class="text-center">Tabela</th>
      <th class="text-center">Coluna</th>
      <th class="text-center">Tipo</th>
      <tr>
  </tbody>
</table>
<table id="tabela"  class="table table-bordered table-dark">
    {% for d in dados %}
    <tbody>
          <tr>
              <td>{{d.TABLE_NAME}}</td>
              <td>{{d.COLUMN_NAME}}</td>
              <td>{{d.COLUMN_TYPE}}</td>
          </tr>
      </tbody>
    {% endfor %}
</table>
</div>;
</body>
<script>
$(document).ready(function(){
    $("#txt_consulta").focus();
    $("#txt_consulta").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabela tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>